/*头部开始*/
header h1 a{
	margin: 10px 0;
	display: block;
	width: 171px;
	height: 61px;
	background: url('../img/logo.png') no-repeat;
	font-size: 0;
}
/*头部结束*/

/* 内容开始 */
.login{
    height: 450px;
    border: 1px solid #999;
}
.login .nav{
    width: 1190px;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    background:  #ececec;
    font-size: 18px;
}
.login ul{
    text-align: center;
    margin-top: 30px;
}
.login ul li input{
    margin-bottom: 20px ;
    width: 238px;
    height: 34px;
    text-indent: 1em;
    border: 1px solid #999;
}
.login ul li:nth-child(2){
    position: relative;
    height: 34px;
    margin-bottom: 20px ;
}
.login ul li:nth-child(2) a{
    position: absolute;
    top: 0;
    left: 761px;
    margin-top: 10px;
}
.login ul li:nth-child(2) a:focus{
    color: red;
}
.login ul li:nth-child(7) input{
    width: 150px;
    height: 34px;
    margin-left: 10px;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    background: red;
}
.login ul li:nth-child(7) input:hover{
    background: #ccc;
    color: red;
}
.login ul li>a{
    display: inline-block;
    width: 150px;
    height: 34px;
    font-size: 18px;
    line-height: 34px;
    color: #fff;
    background: red;
}
.login ul li>a:hover{
    background: #ccc;
    color: red;
}
.login ul li:nth-child(6) input{
    width: 20px;
    height: 14px;
    vertical-align: top;
    text-indent: 5px;
}
.login ul li:nth-child(6) a{
    margin-left: 10px;
    color: lightskyblue;
}
.login ul li:nth-child(6) a:hover{
   color: red;
}
/* 内容结束 */


/* 底部开始 */
footer{
	text-align: center;
}
footer .link ul{
	margin-left: 100px;
}
footer .link ul li{
	float: left;
	font-size: 14px;
	height: 46px;
	line-height: 46px;
}
footer .link ul .link-li{
	width: 1px;
	height: 14px;
	background: #999999;
	margin-top: 16px;
	margin: 16px 14px 0 14px;
}
/* 底部及结束 */